body{
  background-color: white;
  margin: 0;
  padding: 0;

}
.space-set{
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  color: lime;
}
.game-space{
  display: flex;
  margin: 30px 50px 50px 50px;
  justify-content: center;
}
